.hero {
  display: flex;
  flex-direction: column;
  text-decoration: white;
  color: white;
  align-items: center;
  margin-top: -80px;
  
}

.heroDetail {
  display: flex;
  flex-direction: column;
  text-decoration: white;
  color: white;
  align-items: center;
  margin-top: -100px;
  
}

.hero-text{
  position: relative;
}

.categories{
  margin-top: 60rem;
}

.hero-image {
  width: 80%;
  height: auto;
  position:absolute;
  margin-top: -60px;
}

.categories, .featured-products {
  margin: 2em 0;
  text-align: center;
}



.category-list, .product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.category-item, .product-card {
  margin: 1em;
}

.category-item img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 80px;
}

.category-item p, .product-card p, .product-card h3 {
  margin: 0.5em 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 16rem;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  text-align: center;
  height: 25rem;
  display: flex;
  width: 60%;
}

.product-card img {
width: 60%;
height: 400px;
background-color: #EAEAEB;
}

.nav{
    display: flex;
    gap: 100px;
    list-style-type: none;
} 

.navDetail{
  display: flex;
  gap: 100px;
  list-style-type: none;
} 

.nav li a{
  color: white;
  text-decoration: none;
} 

.navDetail li a{
  color: black;
  text-decoration: none;
} 

.background-nav {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../public/images/logos/hero.png');
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Ajusta la altura del contenedor a la altura completa de la vista */
  width: 100%; /* Ajusta el ancho del contenedor al ancho completo */
}


